JWT_SECRET=your_jwt_secret_here_change_in_production
GMAIL_SMTP_USER=mayuresh.rane23@pccoepune.org
GMAIL_SMTP_APP_PASSWORD=qjjomulcswxvwyqr
GMAIL_FROM_EMAIL=mayuresh.rane23@pccoepune.org
GMAIL_FROM_NAME=EmPay
NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?sslmode=require"